@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contact Manager</h1>
    <p><b>  Welcom to the Group Project Build by </b></p>
    <p>Varankumar Patel - 200544591</p>
    <p>Sanat Sunny - 2005576550</p>
    <p>Athul Kakkuzhiyil - 200503634 </p>
</div>
